{% extends 'flask_user/_public_base.html' %}
{% from "flask_user/_macros.html" import render_checkbox_field, render_submit_field %}
{% from 'bootstrap/form.html' import render_field %}

{% block content %}


  <h1>{%trans%}Sign in{%endtrans%}</h1>

  <form action="" method="POST" class="form-group" role="form">
      {{ form.hidden_tag() }}

      {# Username or Email field #}
      {% set field = form.username if user_manager.USER_ENABLE_USERNAME else form.email %}
      {{render_field(field)}}
      {# Password field #}
      {% set field = form.password %}
      {{render_field(field)}}
      <div class="form-group">
        {% if user_manager.USER_ENABLE_FORGOT_PASSWORD %}
            <a href="{{ url_for('user.forgot_password') }}">
                {%trans%}Forgot your Password?{%endtrans%}</a>
        {% endif %}
      </div>

      {# Remember me #}
      {% if user_manager.USER_ENABLE_REMEMBER_ME %}
      {{ render_field(login_form.remember_me) }}
      {% endif %}

      {# Submit button #}
      {{ render_submit_field(form.submit) }}
  </form>


{% endblock %}
