{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">{{device.model_number}} : {{device.name}}</h1>
  <p class="lead">Manufactured by: {{device.manufacturer}}</p>
  <hr class="my-4">
  <p><b>NBG CODE: </b>{{device.nbg_code}}</p>
  <p><b>X-ray / Serial ID: </b>{{device.x_ray}}</p>
  <p><b>Sense / Pace Connector RA: </b>{{device.ra}}</p>
  <p><b>Sense / Pace Connector RV: </b>{{device.rv}}</p>
  <p><b>Detach Tools: </b>{{device.detach}}</p>
  <p><b>Non MAG Rate BOS: </b>{{device.n_bos}}</p>
  <p><b>Non MAG Rate RRT / EOS: </b>{{device.n_rrt}}</p>
  <p><b>MAG Rate BOS: </b>{{device.m_bos}}</p>
  <p><b>MAG Rate RRT/EOS: </b>{{device.m_rrt}}</p>
  <p><b>RRT / EOS Behavior: </b>{{device.rrt_behaviour}}</p>
  <p><b>RRT / EOS Longetivity: </b>{{device.rrt_longevity}}</p>
</div>
{% endblock %}
