  html,
  body {
   height: 100%;
   position: relative;
  }

.alert-info {
    color: #07689f;
    background-color: #a2d5f2;
    border-color: #a2d5f2;
    margin-bottom: 0;
}

  a{
    color:#cc6452;
  }

  a:hover{
    color:#cc6452;
  }

  .page-link{
    color:#cc6452;
  }

  .page-link:hover{
    color:#cc6452;
  }

  .promotion{
    font-size: 2.5rem;
  }

  .btn-primary{
    background-color:#ff7e67;
    border-color: #fafafa;
  }

  .btn-primary:hover{
    background-color:#cc6452;
    border-color: #fafafa;
  }

  .fas{
    color:#FFA733;
  }

  .navbar-dark .navbar-brand{
    color: #ff7e67;
  }
  .navbar-dark .navbar-brand:hover{
    color: #FFA733;
  }

  .navbar-dark .navbar-nav .nav-link{
    color:#fafafa;
  }

  .navbar-dark .navbar-nav .nav-link:hover  {
    color: #ff7e67;
  }

  .navbar{
    background-color: #07689f;
  }

  .navbar-dark .nav-link{
    font-size: larger;
  }

  .carousel-item > img {
    height: 45rem;
  }

  #myFooter {
      background-color: #07689f;
      color: white;
      padding-top: 30px;
      position: inherit;
      bottom: 0;
      width: 100%;
  }

  #myFooter .footer-copyright {
      background-color: #065d8f;
      padding-top: 3px;
      padding-bottom: 3px;
      text-align: center;
  }

  #myFooter .row {
      margin-bottom: 60px;
  }

  #myFooter .navbar-brand {
      margin-top: 45px;
      height: 65px;
  }

  #myFooter .footer-copyright p {
      margin: 10px;
      color: #ccc;
  }

  #myFooter ul {
      list-style-type: none;
      padding-left: 0;
      line-height: 1.7;
  }

  #myFooter h5 {
      font-size: 18px;
      color: white;
      font-weight: bold;
      margin-top: 30px;
  }

  #myFooter h2 a{
      font-size: 50px;
      text-align: center;
      color: #fff;
  }

  #myFooter a {
      color: #d2d1d1;
      text-decoration: none;
  }

  #myFooter a:hover,
  #myFooter a:focus {
      text-decoration: none;
      color: white;
  }

  #myFooter .social-networks {
      text-align: center;
      padding-top: 30px;
      padding-bottom: 16px;
  }

  #myFooter .social-networks a {
      font-size: 32px;
      color: #f9f9f9;
      padding: 10px;
      transition: 0.2s;
  }

  #myFooter .social-networks a:hover {
      text-decoration: none;
  }

  #myFooter .facebook:hover {
      color: #0077e2;
  }

  #myFooter .google:hover {
      color: #ef1a1a;
  }

  #myFooter .twitter:hover {
      color: #00aced;
  }

  #myFooter .btn {
      color: white;
      background-color: #d84b6b;
      border-radius: 20px;
      border: none;
      width: 150px;
      display: block;
      margin: 0 auto;
      margin-top: 10px;
      line-height: 25px;
  }

  @media screen and (max-width: 767px) {
      #myFooter {
          text-align: center;
      }
  }
