{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_field %}

{% block content %}
<div style="min-height: 70vh;" class="container">
<h1>View Users</h1>
<div class="container">
  <table class="table">
    <thead>
        <tr>
          <th scope="col">User ID</th>
          <th scope="col">Email Address</th>
          <th scope="col">Access</th>
        </tr>
      </thead>
      <tbody>
        {% for element in users %}
        <tr>
          <td>{{element.id}}</td>
          <td>{{element.email}}</td>
          <td>{{element.access}}</td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
</div>
</div>
{% endblock %}
