{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_field %}

{% block title %}View Roles{% endblock %}
{% block content %}
<h1>View Roles</h1>
<div class="container">
  <table class="table">
    <thead>
        <tr>
          <th scope="col">Role ID</th>
          <th scope="col">Role Name</th>
        </tr>
      </thead>
      <tbody>
        {% for element in roles %}
        <tr>
          <td>{{element.id}}</td>
          <td>{{element.name}}</td>
        </tr>

        {% endfor %}
      </tbody>
  </table>
</div>
{% endblock %}
