{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_field %}

{% block content %}
<h1>CRT-P Low-Voltage Devices</h1>

<form class="form-group" method="POST">
     {{ form.hidden_tag() }}
     {{ render_field(form.manufacturer) }}
     {{ render_field(form.model_number) }}
     {{ render_field(form.name) }}
     <div class="form-group">
         {{ form.submit(class="btn btn-outline-info") }}
     </div>
</form>

  <table style="word-wrap:break-word; table-layout: fixed;" class="table table-striped">
    <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Manufacturer</th>
          <th scope="col">Model Number</th>
          <th scope="col">Name</th>
        </tr>
      </thead>
      <tbody>
        {% for device in devices.items %}
        <tr>
          <td><a href="/devices/crtp/{{device.id}}">{{device.id}}</a></td>
          <td>{{device.manufacturer}}</td>
          <td>{{device.model_number}}</td>
          <td>{{device.name}}</td>
        </tr>
        {% endfor %}
      </tbody>
  </table>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% for page_num in devices.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
         {% if not page_num %}
          <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
         {% elif devices.page == page_num %}
         <li class="page-item disabled">
           <a class="page-link" href="{{ url_for('devices.crtp', page=page_num, manufacturer=manufacturer, model_number=model_number, device_name=device_name) }}">{{ page_num }}</a></li>
         </li>
         {% else %}
           <li class="page-item"><a class="page-link" href="{{ url_for('devices.crtp', page=page_num, manufacturer=manufacturer, model_number=model_number, device_name=device_name) }}">{{ page_num }}</a></li>
         {% endif %}
     {% endfor %}
   </nav>



{% endblock %}
