{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_field %}

{% block content %}
  <h1>{{page_title}}</h1>

  {% if f_type == '1' %}
    {% include '/Devices/New/new_finder_form.html' %}
  {% elif f_type == '3' %}
    {% include '/Devices/Finder/finder_form.html' %}
  {% endif %}

  {% if page_title == 'IPG Low-Voltage Devices' %}
      {% set url = 'devices.ipg' %}
      {% include '/Devices/ipg.html' %}
  {% elif page_title == 'CRT-P Low-Voltage Devices' %}
    {% set url = 'devices.crtp' %}
    {% include '/Devices/crtp.html' %}
  {% elif page_title == 'CRT-D High Voltage Devices' %}
    {% set url = 'devices.crtd' %}
    {% include '/Devices/crtp.html' %}
  {% elif page_title == 'HV High-Voltage Leads' %}
    {% set url = 'devices.hv' %}
    {% include '/Devices/hv.html' %}
  {% elif page_title == 'ICD High-Voltage Devices' %}
    {% set url = 'devices.icd' %}
    {% include '/Devices/icd.html' %}
  {% elif page_title == 'LV Low-Voltage Devices' %}
    {% set url = 'devices.lv' %}
    {% include '/Devices/lv.html' %}
  {% endif %}


  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% for page_num in devices.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
         {% if not page_num %}
          <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
         {% elif devices.page == page_num %}
         <li class="page-item disabled">
           <a class="page-link" href="{{ url_for(url, page=page_num, manufacturer=manufacturer, model_number=model_number, device_name=device_name, sensed=sensed, paced=paced, ra=ra, rv=rv, f_type=f_type) }}">{{ page_num }}</a>
         </li>
         {% else %}
           <li class="page-item"><a class="page-link" href="{{ url_for(url, page=page_num, manufacturer=manufacturer, model_number=model_number, device_name=device_name, sensed=sensed, paced=paced, ra=ra, rv=rv, f_type=f_type) }}">{{ page_num }}</a></li>
         {% endif %}
     {% endfor %}
   </nav>

   <script type="text/javascript">
     var folder = document.querySelectorAll('.fa-folder');
     for (var i = 0 ; i < folder.length; i++) {
     folder[i].addEventListener("mouseover", function(){ this.classList.remove('fa-folder'); this.classList.add('fa-folder-open'); })
     folder[i].addEventListener("mouseout", function(){ this.classList.remove('fa-folder-open'); this.classList.add('fa-folder'); })
   }
   </script>
{% endblock %}
