{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_field %}

{% block content %}
<h1>{{page_title}}</h1>
<div class="container" style="height: 70vh;">
  <div class="row">
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
        <a href="{{ url_for('devices.new') }}" class="btn btn-primary btn-lg"><i style="color:white;"class="fas fa-plus"><br>New Implant</i></a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
        <a href="{{ url_for('devices.compatibility') }}" class="btn btn-primary btn-lg"><i style="color:white;"class="fas fa-exchange-alt"><br>Pac Change / Upgrade</i></a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
        <a href="{{ url_for('devices.finder') }}" class="btn btn-primary btn-lg"><i style="color:white;"class="fas fa-search"><br>Search All Devices</i></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
