{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">{{device.model_number}} : {{device.name}}</h1>
  <p class="lead">Manufactured by: {{device.manufacturer}}</p>
  <hr class="my-4">
  <p><b>Serial ID: </b>{{device.serial}}</p>
  <p><b>Connectors Sense/Pace: </b>{{device.sense}}</p>
  <p><b>High Voltage: </b>{{device.high}}</p>
  <p><b>Sensing Configurations </b>{{device.sensing}}</p>
  <p><b>Lead Polarity </b>{{device.lead}}</p>
  <p><b>Placement </b>{{device.placement}}</p>
  <p><b>Fixation </b>{{device.fixation}}</p>
  <p><b>Insultation </b>{{device.insulation}}</p>
</div>
{% endblock %}
