{% extends 'base.html' %}

{% block content %}
<div class="container">
<div class="jumbotron">
  <h1 class="display-4">{{device.model_number}} : {{device.name}}</h1>
  <p class="lead">Manufactured by: {{device.manufacturer}}</p>
  <hr class="my-4">
  <p><b>NBD Code: </b>{{device.nbg_code}}</p>
  <p><b>X-ray ID: </b>{{device.x_ray}}</p>
  <p><b>Serial ID: </b>{{device.serial}}</p>
  <p><b>Connectors RA: </b>{{device.ra}}</p>
  <p><b>Connectors RV: </b>{{device.rv}}</p>
  <p><b>Connectors HV: </b>{{device.hv}}</p>
  <p><b>Detach Tool: </b>{{device.detach}}</p>
  <p><b>HV Waveform: </b>{{device.wave}}</p>
  <p><b>Replacement Indicator: </b>{{device.replacement}}</p>
</div>
</div>
{% endblock %}
