  <table class="table table-striped">
    <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Manufacturer</th>
          <th scope="col">Model Number</th>
          <th scope="col">Name</th>
        </tr>
      </thead>
      <tbody>
        {% for device in devices.items %}
        <tr>
          <td><a href="/devices/lv/{{device.id}}">{{device.id}}</a></td>
          <td>{{device.manufacturer}}</td>
          <td>{{device.model_number}}</td>
          <td>{{device.name}}</td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
