{% extends 'base.html' %}

{% block content %}
<div class="container">
<div class="jumbotron">
  <h1 class="display-4">{{device.model_number}} : {{device.name}}</h1>
  <p class="lead">Manufactured by: {{device.manufacturer}}</p>
  <hr class="my-4">
  <p><b>Serial ID: </b>{{device.serial}}</p>
  <p><b>Connectors Sense/Pace: </b>{{device.sense}}</p>
  <p><b>Polarity: </b>{{device.polarity}}</p>
  <p><b>Fixation: </b>{{device.fixation}}</p>
  <p><b>Placement: </b>{{device.placement}}</p>
  <p><b>Outer Insulation: </b>{{device.insulation}}</p>
  <p><b>Location: </b>{{device.location}}</p>
</div>
</div>
{% endblock %}
