{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_field %}

{% block content %}
<div style="min-height: 70vh;" class="container">
<h1>Account</h1>
<hr>
<div class="row">
  <div class="col-sm">
    MEMBERSHIP & BILLING
  </div>
  <div class="col-sm">
  <div class="row">
    <div class="col-sm">
      {{current_user.email}}
    </div>
    <div class="col-sm">
      <a href="{{url_for('users.email')}}">Change email</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      Password: ********
    </div>
    <div class="col-sm">
      <a href="{{url_for('users.password')}}">Change password</a>
    </div>
  </div>

  {% if current_user.access == '2' or current_user.access == '3' %}
  {% if last4 %}
  <hr>
  <div class="row">
    <div class="col-sm">
      {% if brand == 'Visa' %}
        <i class="pay fab fa-cc-visa"></i>
      {% elif brand == 'MasterCard' %}
        <i class="pay fab fa-cc-mastercard"></i>
      {% elif brand == 'American Express' %}
        <i class="pay fab fa-cc-amex"></i>
      {% endif %}
      **** **** **** {{last4}}
    </div>
    <div class="col-sm">
      <a href="#">Update payment info</a>
    </div>
  </div>
{% endif %}
{% endif %}

</div>
</div>
<hr>
<div class="row">
	<div class="col-sm">
	  Plan Details:
	</div>
	<div class="col-sm">
    <div class="row">
      <div class="col-sm">
      	  {% if current_user.customer_id and current_user.plan %}
      			<h6>{{current_user.plan}}</h6>
            </div>
            <div class="col-sm">

              <a href="{{url_for('users.change_plan')}}">Change plan</a>
              /
              <a href="{{url_for('users.cancel_plan')}}">Cancel plan</a>
            </div>
      		{% else %}
      			<h6>Free</h6>
      		{% endif %}
      	</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}
