{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_field %}

{% block content %}

<div class="container">
<h1>Change Email</h1>
<form class="form-group" method="POST">
<div class="form-group">
	<label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
	    <div class="col-sm-10">
	      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{current_user.email}}">
	    </div>
</div>
{{ form.hidden_tag() }}
{{ render_field(form.email) }}
{{ render_field(form.password)}}
<div class="form-group">
		{{ form.submit(class="btn btn-lg btn-primary") }}
</div>
</form>
</div>
{% endblock %}
