{% extends 'base.html' %}

{% block main %}

<main role="main">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="first-slide" src="../static/1.jpg" alt="First slide">
            <div class="container">
              <div class="carousel-caption text-left">
                <p class="promotion" style="color: #fafafa">Developed to assist medical professionals involved in the care of patients with implantable cardiac devices.</p>
                <p><a class="btn btn-lg btn-primary" href="{{ user_manager.USER_REGISTER_URL }}" role="button">Sign up today</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>


        <div class="container">
        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-5">
            <h2 class="featurette-heading">Your ultimate cardiac device implantation and follow up assistant</h2>
            <p class="lead">An extensive database of more than 4000 devices:</p>
              <ul class="lead">
              <li>IPG Low-Voltage Devices</li>
              <li>CRT-P Low-Voltage Devices</li>
              <li>ICD High-Voltage Devices</li>
              <li>CRT-D High-Voltage Devices</li>
              <li>LV Low-Voltage Devices</li>
              <li>HV High-Voltage Devices</li>
            </ul>
          </div>
          <div class="col-md-7">
            <img class="featurette-image img-fluid mx-auto" src="../static/Dashboard.JPG" alt="Image of Heart">
          </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-5 order-md-2">
            <h2 class="featurette-heading">Find any device in <span style="color: #ff7e67;">seconds:</span></h2>
            <p class="lead">Search by manufacturer, device name, the connectors or even the sensing/pacing mechanism. Covers all major device companies.</p>
          </div>
          <div class="col-md-7 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="../static/Search.JPG" alt="Image of Clincian">
          </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Anytime, Anywhere, Online!</h2>
            <p class="lead">Best of all CardiacBook can be accessed from any device online. Our mobile version works just as well on an iOS or Android phone or tablet.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="../static/laptop.png" alt="Image of laptop">
          </div>
        </div>
      </div>
</main>

<script type="text/javascript">
  var container = document.querySelectorAll('.container')[0];
  container.parentNode.removeChild(container);
</script>
{% endblock %}
