{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

  <div class="container">
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.email) }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.pass_confirm) }}
        <div class="form-group">
          {{ form.submit(class="btn btn-primary") }}
        </div>
  </div>

{% endblock %}



<!-- <div class="form-group">
  {{ form.email.label(class="form-group") }} {{ form.email(class="form-control") }}
  <div class="invalid-feedback">
    {% if form.email.errors %}
      {{form.email.errors}}
    {% endif %}
  </div>
</div>
<div class="form-group">
  {{ form.username.label(class="form-group") }} {{ form.username(class="form-control") }}
  <div class="invalid-feedback">
    {% if form.username.errors %}
      {{ form.username.errors }}
    {% endif %}
  </div>
</div>
<div class="form-group">
  {{ form.password.label(class="form-group") }} {{ form.password(class="form-control") }}
  <div class="invalid-feedback">
    {% if form.password.errors %}
      {{ form.password.errors }}
    {% endif %}
  </div>
</div>
<div class="form-group">
  {{ form.pass_confirm.label(class="form-group") }} {{ form.pass_confirm(class="form-control") }}
  <div class="invalid-feedback">
    {% if form.pass_confirm.errors %}
      {{ form.pass_confirm.errors }}
    {% endif %}
  </div>
</div>
<div class="form-group">
  {{ form.submit(class="btn btn-primary") }}
</div>
</form> -->
