{% extends 'base.html' %}

{% block content %}
<div class="container centre">
<form style="width: 50%" action="/account" method="GET">
  <div style="text-align: center;"class="">
    <i class="pay far fa-check-circle fa-3x"></i>
    <p>STEP <b>2</b> OF <b>3</b></p>
    <h3>Create your account.</h3>
    <p>Use your email and create a password to use CardiacBook on any device at any time.</p>
  </div>
   <button type="submit" class="btn-primary btn-lg btn-block">CONTINUE</button>
</form>
</div>
{% endblock %}
