{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_field %}

{% block content %}
<div style="min-height: 70vh;" class="container">
  <h1>{{page_title}}</h1>
  <form class="form-group" method="POST">
       {{ form_type.hidden_tag() }}
       {{ render_field(form_type.type) }}
       {{ form.hidden_tag() }}
       {{ render_field(form.paced) }}
       {{ render_field(form.sensed) }}
       {{ render_field(form.manufacturer) }}
       <div class="form-group">
           {{ form.submit(class="btn btn-lg btn-primary") }}
       </div>
  </form>

  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded',function() {
    document.querySelector('select[name="type"]').onchange=changeEventHandler;
    },false);

  function changeEventHandler(event) {
      // You can use “this” to refer to the selected element.
      if(event.target.value == 'LV' || event.target.value == 'HV') window.location.href = ("/devices/finder?type=" +event.target.value);
  }
  </script>
</div>
{% endblock %}
